*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*Prevents borders being added to width/height*/
}

/*this defines what one rem is*/
html {
  /*font-size: 10px;*/
  font-size: 62.5%;   /*10/16 * 100*/

  @include respond(tab-land) {
    font-size: 56.25%; /*1rem = 9px, 9/16 = 50%*/
  }

  @include respond(tab-port) {
    font-size: 50%; /*1rem = 8px, 8/16 = 50%*/
  }

  @include respond(big-desktop) {
    font-size: 75%; /*1rem = 12px, 12/16*/
  }
}

body {
  box-sizing: border-box; /*Prevents borders being added to width/height*/
}
